apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
data:
  init-user-db.sh: |
    #!/bin/bash
    set -e

    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
        -- Create the application user if it doesn't exist
        DO
        \$\$
        BEGIN
           IF NOT EXISTS (
              SELECT FROM pg_catalog.pg_roles
              WHERE  rolname = '$APP_USER') THEN

              CREATE ROLE $APP_USER LOGIN PASSWORD '$APP_PASSWORD';
           ELSE
              ALTER ROLE $APP_USER WITH PASSWORD '$APP_PASSWORD';
           END IF;
        END
        \$\$;

        -- Grant privileges
        GRANT ALL PRIVILEGES ON DATABASE $APP_DB TO $APP_USER;
        ALTER DATABASE $APP_DB OWNER TO $APP_USER;
        
        -- Grant schema usage
        \c $APP_DB
        GRANT ALL ON SCHEMA public TO $APP_USER;
    EOSQL
