apiVersion: v2
name: wikijs
description: Wiki.js Helm chart with Meilisearch and Postgres integration
version: 0.2.11
appVersion: '2.5'
dependencies:
- name: postgres
  version: 0.1.x
  repository: file://../postgres
- name: istio-ingress
  version: 0.1.x
  repository: file://../istio-ingress
  condition: istio-ingress.enabled
- name: meilisearch
  version: 0.1.x
  repository: file://../meilisearch
  condition: meilisearch.enabled
