apiVersion: v2
name: vein
description: A Helm chart for Vein dedicated game server
type: application
version: 0.1.6
appVersion: v0.0.3
keywords:
- vein
- game-server
- valheim-inspired
home: https://github.com/mbround18/vein-docker
sources:
- https://github.com/mbround18/vein-docker
maintainers:
- name: mbruno
dependencies:
- name: game-tools
  version: 0.1.0
  repository: file://../game-tools
