global:
  secret:
    annotations: {}

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 10Gi

authMethod: scram-sha-256

image:
  repository: postgres
  tag: "18"
  pullPolicy: IfNotPresent

ha:
  enabled: false

secrets:
  password:
    name: postgres-password
    key: POSTGRES_PASSWORD
    create: true
  superuserPassword:
    name: postgres-superuser-password
    key: POSTGRES_PASSWORD
    create: true

postgresql:
  db: wikijs
  user: wikijs
  # Superuser configuration
  superuser: postgres

resources: {}

service:
  type: ClusterIP
  port: 5432
