name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  issues: write
  contents: write
  repository-projects: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Setup Helm
        uses: ./.github/actions/setup-helm

      - name: Lint charts
        run: make lint
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Setup Helm
        uses: ./.github/actions/setup-helm

      - name: Template and validate YAML (uv)
        run: make test

  build:
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Setup Helm
        uses: ./.github/actions/setup-helm

      - name: Update Chart Version
        run: uv run tools/version_checker.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Run chart-releaser
        if: github.event_name != 'pull_request'
        uses: helm/chart-releaser-action@v1
        with:
          charts_dir: charts
          config: cr.yaml
          skip_existing: true
        env:
          CR_TOKEN: "${{ secrets.GH_TOKEN }}"
