name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  issues: write
  contents: write
  repository-projects: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Install yq
        uses: mbround18/gh-reusable/actions/install-cli@v0.0.6
        with:
          repository: "mikefarah/yq"
          version: "latest"
          asset: "yq_linux_amd64"
          override-name: "yq"

      - name: Update Chart Version
        run: . .github/scripts/version-checker.sh

      - name: Run chart-releaser
        if: github.event_name != 'pull_request'
        uses: helm/chart-releaser-action@v1
        with:
          charts_dir: charts
          config: cr.yaml
          skip_existing: true
        env:
          CR_TOKEN: "${{ secrets.GH_TOKEN }}"