name: Helm Validation

on:
  pull_request:
    branches:
      - "main"
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-validate-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Helm Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Setup Helm
        uses: ./.github/actions/setup-helm

      - name: Lint charts
        run: make lint

  test:
    name: Helm Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Setup Helm
        uses: ./.github/actions/setup-helm

      - name: Run Helm tests
        run: make test

  build:
    name: Helm Build
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: ./.github/actions/setup-python

      - name: Setup Helm
        uses: ./.github/actions/setup-helm

      - name: Build Helm charts
        run: make build
